.jumbotron{
    background-image: url("https://media.istockphoto.com/photos/vintage-books-on-bookshelves-in-old-library-education-and-literature-picture-id1323205799?k=20&m=1323205799&s=612x612&w=0&h=A8TZJ_WVhgjkkILIJzi6QZZc9OsXV_CidTQv1YaXACo=");
    /* background-color: #17234E; */
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.jumbotron h1{
    color: white;
}
.jumbotron p{
    color: white;
}